<ion-header [translucent]="true">
    <ion-searchbar show-cancel-button="focus" placeholder="Search"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img alt="Ferrari F1" src="../../assets/f1Ferrari.avif" />
    <ion-card-header>
      <ion-card-title>Ferrari Team F1</ion-card-title>
      <ion-card-subtitle>Explore our team</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Click to get more details about Ferrari Scudeira F1 on 2025 season
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Aston Martin F1" src="../../assets/astonMartin.avif" />
    <ion-card-header>
      <ion-card-title>Aston Martin Team F1</ion-card-title>
      <ion-card-subtitle>Explore our team</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Click to get more details about Aston Martin F1 on 2025 season
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Racing Bulls F1" src="../../assets/racing-bulls-pintura-miami-2-1200x818-1.jpg" />
    <ion-card-header>
      <ion-card-title>Racing Bulls Team F1</ion-card-title>
      <ion-card-subtitle>Explore our team</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Click to get more details about Racing Bulls F1 on 2025 season
    </ion-card-content>
  </ion-card>


</ion-content>
